<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-test></app-test> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-nav></app-nav>
<app-header></app-header> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-root></app-root> -->

<!-- <h1>Hello</h1>
<br>
<ul>
    <li *ngFor="let movie of mydata1">  
        {{ movie.username }}  {{movie.email}} {{movie.address.street}}
    </li>
</ul> -->
<app-employee-list></app-employee-list>

<router-outlet></router-outlet>