.color{
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: auto;
}
.mar{
    margin: 30px;
}

input.ng-touched{
    background-color: tomato;
}

input.ng-pristine{
    background-color: violet;
}